@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

.header-bg {
  background-color: #264653;
}
.btn-bike {
  background-color: #e76f51;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #ffffff;
  width: 168px;
  font-weight: 500;
  font-size: 16px;
}
.grayimage {
  filter: grayscale(100%);
}
.sort-text-color,
.fa-star {
  color: #e76f51;
}
.card-border {
  border: 1px solid #dedede;
  border-radius: 5px;
}
.clients-img {
  width: 149px;
  height: 149px;
  border-radius: 50%;
  object-fit: cover;
}
.gray-brand {
  filter: grayscale(100%);
  transition: 0.1s;
  cursor: pointer;
}
.gray-brand:hover {
  filter: grayscale(0%);
}
